include ../mixins/mixin.jade
.page-bg
	.page-bg__image
	.page-bg__smoke
		.page-bg__smoke-img1
			+insert-image('smoke1.png', 'smoke-image-1')
		.page-bg__smoke-img2
			+insert-image('smoke2.png', 'smoke-image-2')
		.page-bg__smoke-img3
			+insert-image('smoke3.png', 'smoke-image-3')