include ../mixins/mixin.jade


.result-page
	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-price 2999$
			a.result-page__product-link(href="#" title="produt link") produt link
		.result-page__product-name Product

	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-price 2999$
			a.result-page__product-link(href="#" title="produt link") produt link
		.result-page__product-name Product

	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-price 2999$
			a.result-page__product-link(href="#" title="produt link") produt link
		.result-page__product-name Product

	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-price 2999$
			a.result-page__product-link(href="#" title="produt link") produt link
		.result-page__product-name Product
