include ../mixins/mixin.jade


.result-page
	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-name Product
			.result-page__product-price 2999$
			.result-page__product-short-description
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar lacus nisl, eu consequat tellus pellentesque non. Etiam luctus dolor.
		.result-page__product-link-wrap
			a(href="#").button купить на hotline

	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-name Product
			.result-page__product-price 2999$
			.result-page__product-short-description
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar lacus nisl, eu consequat tellus pellentesque non. Etiam luctus dolor.
		.result-page__product-link-wrap
			a(href="#").button купить на hotline

	.result-page__product
		.result-page__product-image
			+insert-image('gifts.jpg', 'product-image')
		.result-page__product-data
			.result-page__product-name Product
			.result-page__product-price 2999$
			.result-page__product-short-description
				|Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar lacus nisl, eu consequat tellus pellentesque non. Etiam luctus dolor.
		.result-page__product-link-wrap
			a(href="#").button купить на hotline

