.sing-in
	form(action="#")

		h1 Вход
		.form-line.social.social
			a.social-button(href="#")
				include ../svg/facebook.svg
			a.social-button(href="#")
				include ../svg/google.svg

		.form-line
			label E-mail
			input(type="email" placeholder="Введите свой e-mail" title="Введите свой e-mail"  autocomplete="off" required)
			.error-notification
		.form-line
			label Пароль
			input(type="password" placeholder="Введите свой пароль" title="Введите свой пароль" required)
			.error-notification
		.form-line
			button.button(type="submit") Войти
		.or-form-separator или 
			a.registration-link(href="#sing-up") Зарегистрироватся
