.start#start
	.row(ng-app='whr-countdown-app')
		#countdown(countdown='' date='January 1, 2016 00:00:00')
			div 00
				span days
			div 00
				span hours
			div 00
				span minutes
			div 00
				span seconds

	p.sub-title Help your friends to choose gift for You!
	a(href="#sing-in").button#startButton start