.start#start
	.row(ng-app='whr-countdown-app')
		#countdown(countdown='' date='January 1, 2016 00:00:00')
			div 00
				span Дней
			div 00
				span Часов
			div 00
				span минут
			div 00
				span секунд

	p.sub-title Помоги своим друзьям выбрать подарок для Тебя!
	a(href="#sing-in").button#startButton начать