include ../mixins/mixin.jade

.taste-definition
	include progress-bar.jade
	h1.taste-definition__header
		| Вам нравится категория?
	.taste-definition__images-wrap
		.taste-definition__taste-category-wrap
			.taste-definition__taste-image-wrap
				+insert-image('gifts.jpg')
		.taste-definition__button-wrap
			button.button да
			button.button Нет
			//- .taste-definition__category-name Категория 1
		//- .taste-definition__taste-category-wrap
		//- 	.taste-definition__taste-image-wrap
		//- 		+insert-image('gifts.jpg')
		//- 	.taste-definition__category-name Категория 2
