include ../mixins/mixin.jade


.page-slide.user-page#userPage
	.page__inner
		.user-page__product
			.user-page__product-image
				+insert-image('gifts.jpg', 'product-image')
			.user-page__product-data
				.user-page__product-price 2999$
				a.user-page__product-link(href="#" title="produt link") produt link
			.user-page__product-name Product

		.user-page__product
			.user-page__product-image
				+insert-image('gifts.jpg', 'product-image')
			.user-page__product-data
				.user-page__product-price 2999$
				a.user-page__product-link(href="#" title="produt link") produt link
			.user-page__product-name Product

		.user-page__product
			.user-page__product-image
				+insert-image('gifts.jpg', 'product-image')
			.user-page__product-data
				.user-page__product-price 2999$
				a.user-page__product-link(href="#" title="produt link") produt link
			.user-page__product-name Product

		.user-page__product
			.user-page__product-image
				+insert-image('gifts.jpg', 'product-image')
			.user-page__product-data
				.user-page__product-price 2999$
				a.user-page__product-link(href="#" title="produt link") produt link
			.user-page__product-name Product
