extends ./layout/default_layout.jade

block title_name
	title Wisher

block preloader
	include blocks/preloader.jade

block page-background
	include blocks/page-background.jade

block logo
	include blocks/logo.jade

block page-slider
	include blocks/start.jade

block footer
	include blocks/footer-link.jade
