footer
	position: absolute
	right: 0
	padding: 0 20px
	z-index: 6
	height: 25px
	width: 100%
	bottom: 0px
	text-align: right
	+max-screen($tablet-breakpoint)
		text-align: center
		position: relative

	// for landscape
	+landscape($tablet-breakpoint)
		display: none
			
	a
		font-size: 17px
		line-height: 25px
		color: #fff
		font-weight: bold
		+max-screen($tablet-breakpoint)
			font-size: 2vw
		+max-screen($mobile-breakpoint)
			font-size: 4vw
		&:hover
			color: #ff0033
