.sub-title
	font-size: 18px
	margin-top: 5px
	margin-bottom: 0px
	color: #666
	font-size: 3vw
	margin-bottom: 25px
	margin: 2% 0
	+max-screen(1024)
		font-size: 5vw
		margin: 4% 0



#countdown
	text-align: center
	div
		display: inline-block
		padding: 0 34px
		font-weight: 800
		font-size: 50px
		font-size: 8.5vw
		width: 20%
		box-sizing: border-box
		text-align: center
		+max-screen(968)
			padding: 0 10px
			font-size: 10vw
			width: 25%

		+max-screen(400)
			font-size: 12vw
			padding: 0 5px
			// display: block
			
	span
		display: block
		font-size: 50px
		font-size: 3vw
		line-height: 50px
		letter-spacing: initial
		font-weight: 100
		text-transform: uppercase
		+max-screen(768)
			font-size: 5vw