include ../mixins/mixin.jade


doctype html
html(lang="en")
	head
		block title_name
			title Tempalate title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="msapplication-tap-highlight" content="no")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="/css/vendor/javascript.fullPage.css")
		link(rel="stylesheet" href="/css/screen.css")
	body

	block preloader
	

	block page-background

	block logo

	block progress-bar

	.page-slider#pageSlider
		block page-slider

	
	button#logOut.button.log-out.hide Log out

	script(src="/js/vendor/jquery.js")
	script(src="/js/vendor/javascript.fullPage.min.js")
	script(src="/js/vendor/jquery.slimscroll.min.js")
	script(src="/js/vendor/jquery.countdown.min.js")
	script(src="/js/index.js")


