include ../mixins/mixin.jade


doctype html
html(lang="en")
	head
		block title_name
			title Tempalate title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="msapplication-tap-highlight" content="no")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" href="/css/vendor/javascript.fullPage.css")
		link(rel="stylesheet" href="/css/screen.css")
	body(ng-app="animateApp")

		block preloader

		block page-background

		.page
			block logo
			.page__slider
				.page__slider-content
					.page__slider-content-inner(class="{{ pageClass }}" ng-view)
						block page-slider
				
		block progress-bar
		
		block footer

		button#logOut.button.log-out.hide Log out

		script(src="/js/vendor/angular.js")
		script(src="/js/vendor/angular-route.js")
		script(src="/js/vendor/angular-animate.js")
		script(src="/js/common.js")
		script(src="/js/layout.js")
	


