<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>
    <title>Test</title>
  
    <link href="~/Content/screen.css" rel="stylesheet" />
</head>
<body>
   
    <div id="preloader" class="preloader">
        <div class="loading">
            <h2>Loading...</h2>
            <div class="progress"></div>
        </div>
    </div>
    <div class="page-bg">
        <div class="page-bg__smoke">
            <div class="page-bg__smoke-img1">
                <img alt="smoke-image-1" src="~/Content/img/smoke1.png">
            </div>
            <div class="page-bg__smoke-img2">
                <img alt="smoke-image-2" src="~/Content/img/smoke2.png">
            </div>
            <div class="page-bg__smoke-img3">
                <img alt="smoke-image-3" src="~/Content/img/smoke3.png">
            </div>
        </div>
    </div>
    <div class="page">
        <div class="logo-wrap">
            <div class="logo-wrap__i"><a href="#home" class="logo"><img alt="logo" src="~/Content/img/logo.png"></a></div>
        </div>
        <div class="page__slider" >
            <div class="page__slider-content">
                <div ng-view class="page__slider-content-inner {{ pageClass }}">
                    <div id="start" class="start">
                        <p class="sub-title">Помоги своим друзьям выбрать подарок для Тебя!</p><a href="#signIn" id="startButton" data-ng-hide="authentication.isAuth" class="button">начать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer><a href="#">Produced by Strong Soft Team</a></footer>
    <button id="logOut" class="button log-out hide" data-ng-hide="!authentication.isAuth" data-ng-click="logOut()">Log out</button>



    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="../../Scripts/angular-local-storage.min.js"></script>


    <script src="~/ClientJS/app.js?v=2"></script>
    <script src="~/ClientJS/common.js"></script>

    <!-- Load services -->
    <script src="~/ClientJS/services/authInterceptorService.js?v=2"></script>
    <script src="~/ClientJS/services/authService.js?v=2"></script>
    <script src="~/ClientJS/services/tokensManagerService.js?v=2"></script>
    <!-- Load controllers -->

    <script src="~/ClientJS/controllers/indexController.js?v=2"></script>
    <script src="~/ClientJS/controllers/quizController.js?v=2"></script>
    <script src="~/ClientJS/controllers/homeController.js?v=2"></script>
    <script src="~/ClientJS/controllers/loginController.js?v=2"></script>
    <script src="~/ClientJS/controllers/signupController.js?v=2"></script>
    <script src="~/ClientJS/controllers/associateController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->

</body>
</html>