<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wisher.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wisher.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wisher</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wisher</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="wisher_db" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wisherdbserver.database.windows.net,1433;Initial Catalog=wisher_db;User ID=wisheruser@wisherdbserver;Password=Wisherp@ss" Name="Data Source=tcp:wisherdbserver.database.windows.net,1433;Initial Catalog=wisher_db;User Id=wisheruser@wisherdbserver;Password=Wisherp@ss" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Wisher.Data.ApplicationDbContext, Wisher" MigrationConfiguration="Wisher.Migrations.Configuration, Wisher" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wisher_db-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wisherdbserver.database.windows.net,1433;Initial Catalog=wisher_db;User Id=wisheruser@wisherdbserver;Password=Wisherp@ss</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>